.row
  .six.columns
    %h4 Top teachers
    = render template: '/teachers/index', locals:{ collection: @teachers}
    = link_to "All teachers", teachers_path
  .six.columns
    %h4 Top students
    %table.twelve
      - @students.each do |student|
        %tr
          %th Name
          %th Lessons count
        %tr
          %td= student.name
          %td= student.lessons.count
